<%= render @photo %>
<div>
  <% if current_user.liked_photos.include?(@photo) %>
    <%= button_to "Unlike this Photo", [@photo, :like], method: :delete %>
  <% else %>
    <%= button_to "Like this Photo", [@photo, :like] %>
  <% end %>
</div>
