.friends-dashboard {
  margin-top: 10px;
  border: solid black;
}

.new-photo-dashboard {
  border: solid black;
}

.my-photos-dashboard {
  border: solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.new-thoughts-dashboard {
  border: solid black;
  margin-bottom: 10px;
}

.my-thoughts-dashboard {
  border: solid black;
}
