.friends-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
}

.new-photo-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
}

.my-photos-dashboard {
  background: white;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.new-thoughts-dashboard {
  background: white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 20px;
}

.my-thoughts-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
}

.chat-dashboard {
  background: white;
  border-radius: 3px;
  padding: 50px;
}

#messages {
  max-height: 400px;
  overflow-y: auto;
  word-wrap: break-word;
}

.user-photos-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
}

.user-thoughts-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
  margin-top: 20px;
}

.user-info-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
}

.photo-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
}

.comments-dashboard {
  display: none;
}

.search-dashboard {
}

.search-results-dashboard {
  background: white;
  border-radius: 3px;
  padding: 20px;
}
