.information {
  font-size: .7em;
  font-style: italic;
}

.message-sender {
  color: blue;
}

.current-user-message {
  text-align: right;
}

.individual-comment {
  background: #CCCCFF;
  margin: 5px;
  margin-left: 14%;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  display: inline-block;
  width: 86%;
}
